In [78]:
# Libraries working for arrays and dataframe
import numpy as np
import pandas as pd
# Used for Data Visualization and statistical tool
from scipy import stats
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt 
# Use for Machine Learning Algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import recall_score
# Ignore warnings 
import warnings
warnings.filterwarnings("ignore")
#setting alpha for the statistical test
alpha=0.05

## Wrangle!!

Acquire/Prep

In [79]:
df=pd.read_csv('covid_data.csv')

In [3]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [4]:
df.shape

(1048575, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [6]:
df.rename(columns=lambda x: x.lower(), inplace=True)

In [7]:
df.isnull().sum()

usmer                   0
medical_unit            0
sex                     0
patient_type            0
date_died               0
intubed                 0
pneumonia               0
age                     0
pregnant                0
diabetes                0
copd                    0
asthma                  0
inmsupr                 0
hipertension            0
other_disease           0
cardiovascular          0
obesity                 0
renal_chronic           0
tobacco                 0
clasiffication_final    0
icu                     0
dtype: int64

In [8]:
df.rename(columns=lambda x: x.lower(), inplace=True)
df=df.rename(columns={'clasiffication_final':'covid_pos',
                      'sex':'gender',
                      'usmer':'med_level',
                      'cardiovascular':'heart_problems',
                      'intubed':'ventilator',
                      'renal_chronic':'renal_disease',
                      'tobacco':'smoker',
                      'patient_type':'is_hospitalized',
                       'inmsupr' :'immunosup',
                      'hipertension':'hypertension',
                      'date_died':'is_dead',
                      'obesity':'obese'})

In [9]:
df.is_dead.value_counts()

9999-99-99    971633
06/07/2020      1000
07/07/2020       996
13/07/2020       990
16/06/2020       979
               ...
24/11/2020         1
17/12/2020         1
08/12/2020         1
16/03/2021         1
22/04/2021         1
Name: is_dead, Length: 401, dtype: int64

In [10]:
df.is_dead[0]

'03/05/2020'

In [77]:
df.med_level.value_counts()

2    662903
1    385672
Name: med_level, dtype: int64

In [11]:
df.is_dead=np.where(df['is_dead'] == '9999-99-99', 0, 1)

In [12]:
df.head()

,med_level,medical_unit,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,...,asthma,immunosup,hypertension,other_disease,heart_problems,obese,renal_disease,smoker,covid_pos,icu
0,2,1,1,1,1,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,1,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,1,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [13]:
df.is_dead.value_counts()

0    971633
1     76942
Name: is_dead, dtype: int64

In [14]:
df.drop(columns=['medical_unit','other_disease'],inplace=True)
df.replace(97, np.nan, inplace=True)
df.replace(99, np.nan, inplace=True)

In [15]:
df.covid_pos=df.covid_pos.map({2:1,3:1,4:0,5:0,6:0,7:0})
df.gender=df.gender.map({1:1,2:0})
df.is_dead=df.is_dead.map({9999-99-99:0})
df['is_dead']=df.is_dead.fillna(1)
df.is_hospitalized=df.is_hospitalized.map({1:1,2:0})
df.ventilator=df.ventilator.map({1:1,2:0})
df.pneumonia=df.pneumonia.map({1:1,2:0})
df.pregnant=df.pregnant.map({1:1,2:0})
df.diabetes=df.diabetes.map({1:1,2:0})
df.copd=df.copd.map({1:1,2:0})
df.asthma=df.asthma.map({1:1,2:0})
df.immunosup=df.immunosup.map({1:1,2:0})
df.hypertension=df.hypertension.map({1:1,2:0})
df.heart_problems=df.heart_problems.map({1:1,2:0})
df.obese=df.obese.map({1:1,2:0})
df.renal_disease=df.renal_disease.map({1:1,2:0})
df.smoker=df.smoker.map({1:1,2:0})
df.icu=df.icu.map({1:1,2:0})

In [16]:
df.head()

,med_level,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,copd,asthma,immunosup,hypertension,heart_problems,obese,renal_disease,smoker,covid_pos,icu
0,2,1,1,1.0,NaN,1.0,65.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN
1,2,0,1,1.0,NaN,1.0,72.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN
2,2,0,0,1.0,1.0,0.0,55.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2,1,1,1.0,NaN,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2,0,1,1.0,NaN,0.0,68.0,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN

In [17]:
def value_counts(df):
    for column in df.columns:
        counts = df[column].value_counts(dropna=False)
        print(f"Value counts for column '{column}':\n{counts}\n")

In [18]:
value_counts(df)

Value counts for column 'med_level':
2    662903
1    385672
Name: med_level, dtype: int64

Value counts for column 'gender':
1    525064
0    523511
Name: gender, dtype: int64

Value counts for column 'is_hospitalized':
1    848544
0    200031
Name: is_hospitalized, dtype: int64

Value counts for column 'is_dead':
1.0    1048575
Name: is_dead, dtype: int64

Value counts for column 'ventilator':
NaN    855869
0.0    159050
1.0     33656
Name: ventilator, dtype: int64

Value counts for column 'pneumonia':
0.0    892534
1.0    140038
NaN     16003
Name: pneumonia, dtype: int64

Value counts for column 'age':
30.0     27010
31.0     25927
28.0     25313
29.0     25134
34.0     24872
32.0     24861
37.0     24657
35.0     24635
33.0     24629
36.0     24598
38.0     24455
27.0     24334
40.0     23926
39.0     23780
26.0     23211
46.0     22691
45.0     22450
41.0     22421
43.0     22368
47.0     22352
42.0     22223
44.0     22146
48.0     21984
25.0     21040
49.0     20757
50.0     20184
51.0     19003
52.0     18458
24.0     18246
53.0     17143
54.0     16291
55.0     16163
56.0     15817
23.0     15315
57.0     14636
58.0     13749
59.0     13279
22.0     12689
60.0     12561
21.0     11287
61.0     11011
20.0      9932
63.0      9881
62.0      9844
64.0      8808
65.0      8698
66.0      8023
19.0      7962
67.0      7444
68.0      6990
69.0      6256
70.0      6231
71.0      5484
72.0      5354
18.0      5310
73.0      4945
1.0       4802
17.0      4492
74.0      4481
75.0      4380
16.0      3923
76.0      3883
0.0       3862
77.0      3796
78.0      3577
15.0      3517
2.0       3178
14.0      3076
80.0      3011
79.0      2991
13.0      2923
12.0      2569
3.0       2559
11.0      2535
10.0      2490
81.0      2488
4.0       2485
8.0       2444
6.0       2410
7.0       2405
5.0       2385
82.0      2381
9.0       2349
83.0      2129
84.0      2039
85.0      1786
86.0      1452
87.0      1369
88.0      1093
89.0       924
90.0       903
91.0       595
92.0       449
93.0       376
94.0       281
95.0       271
NaN        221
96.0       195
98.0       124
100.0       70
101.0       25
102.0       21
103.0       19
104.0       15
108.0        8
105.0        7
109.0        6
110.0        6
107.0        5
120.0        5
106.0        4
119.0        3
117.0        3
118.0        2
115.0        2
114.0        2
116.0        2
111.0        1
121.0        1
113.0        1
Name: age, dtype: int64

Value counts for column 'pregnant':
NaN    527265
0.0    513179
1.0      8131
Name: pregnant, dtype: int64

Value counts for column 'diabetes':
0.0    920248
1.0    124989
NaN      3338
Name: diabetes, dtype: int64

Value counts for column 'copd':
0.0    1030510
1.0      15062
NaN       3003
Name: copd, dtype: int64

Value counts for column 'asthma':
0.0    1014024
1.0      31572
NaN       2979
Name: asthma, dtype: int64

Value counts for column 'immunosup':
0.0    1031001
1.0      14170
NaN       3404
Name: immunosup, dtype: int64

Value counts for column 'hypertension':
0.0    882742
1.0    162729
NaN      3104
Name: hypertension, dtype: int64

Value counts for column 'heart_problems':
0.0    1024730
1.0      20769
NaN       3076
Name: heart_problems, dtype: int64

Value counts for column 'obese':
0.0    885727
1.0    159816
NaN      3032
Name: obese, dtype: int64

Value counts for column 'renal_disease':
0.0    1026665
1.0      18904
NaN       3006
Name: renal_disease, dtype: int64

Value counts for column 'smoker':
0.0    960979
1.0     84376
NaN      3220
Name: smoker, dtype: int64

Value counts for column 'covid_pos':
0.0    656596
1.0    383378
NaN      8601
Name: covid_pos, dtype: int64

Value counts for column 'icu':
NaN    856032
0.0    175685
1.0     16858
Name: icu, dtype: int64

In [19]:
df.isnull().count()

med_level          1048575
gender             1048575
is_hospitalized    1048575
is_dead            1048575
ventilator         1048575
pneumonia          1048575
age                1048575
pregnant           1048575
diabetes           1048575
copd               1048575
asthma             1048575
immunosup          1048575
hypertension       1048575
heart_problems     1048575
obese              1048575
renal_disease      1048575
smoker             1048575
covid_pos          1048575
icu                1048575
dtype: int64

In [20]:
def missing_values(df):
    # Calculate the number of missing values for each attribute
    missing_counts = df.isnull().sum()
    
    # Calculate the percentage of missing values for each attribute
    total_rows = len(df)
    missing_percentages = (missing_counts / total_rows) * 100
    
    # Create a new DataFrame with the attribute name, missing count, and missing percentage
    result_df = pd.DataFrame({
        'Attribute': missing_counts.index,
        'Missing Count': missing_counts.values,
        'Missing Percentage': missing_percentages.values
    })
    
    return result_df

In [21]:
missing_values(df)

          Attribute  Missing Count  Missing Percentage
0         med_level              0            0.000000
1            gender              0            0.000000
2   is_hospitalized              0            0.000000
3           is_dead              0            0.000000
4        ventilator         855869           81.622106
5         pneumonia          16003            1.526166
6               age            221            0.021076
7          pregnant         527265           50.283957
8          diabetes           3338            0.318337
9              copd           3003            0.286389
10           asthma           2979            0.284100
11        immunosup           3404            0.324631
12     hypertension           3104            0.296021
13   heart_problems           3076            0.293350
14            obese           3032            0.289154
15    renal_disease           3006            0.286675
16           smoker           3220            0.307083
17        covid_pos           8601            0.820256
18              icu         856032           81.637651

#### assuming nulls and values with a 98 were due to patient not having any type of medical history, or chronic diseas to disclosed. also filling ICU nulls with 0 assuming that patients with no info recorded do not jave history of ICU

In [22]:
df=df.fillna(0)

In [23]:
df[df.age>65]

,med_level,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,copd,asthma,immunosup,hypertension,heart_problems,obese,renal_disease,smoker,covid_pos,icu
1,2,0,1,1.0,0.0,1.0,72.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
4,2,0,1,1.0,0.0,0.0,68.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
16,2,1,0,1.0,0.0,1.0,80.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
72,2,0,1,1.0,0.0,0.0,66.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
84,2,0,0,1.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048519,1,0,0,1.0,0.0,0.0,69.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1048535,1,1,0,1.0,0.0,0.0,79.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1048540,1,1,1,1.0,0.0,0.0,80.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1048549,1,0,1,1.0,0.0,0.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1048560,1,0,1,1.0,0.0,0.0,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Created an age risk column for exploration purposes

In [24]:
df['age_risk'] = np.where(df['age'] >= 60, 'high', 'low')

In [25]:
df.head()

,med_level,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,copd,asthma,immunosup,hypertension,heart_problems,obese,renal_disease,smoker,covid_pos,icu,age_risk
0,2,1,1,1.0,0.0,1.0,65.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,high
1,2,0,1,1.0,0.0,1.0,72.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,high
2,2,0,0,1.0,1.0,0.0,55.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,low
3,2,1,1,1.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,low
4,2,0,1,1.0,0.0,0.0,68.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,high

In [26]:
from sklearn.model_selection import train_test_split
def split_data(df,variable):
    """This function helps divide the data into train, validate, and testing"
    """
    train, test = train_test_split(df,
                                   random_state=123, test_size=.20, stratify= df[variable])
    train, validate = train_test_split(train, random_state=123, test_size=.25, stratify= train[variable])
    return train, validate, test

In [27]:
train,validate,test=split_data(df,'covid_pos')

In [28]:
train.shape, validate.shape,test.shape

((629145, 20), (209715, 20), (209715, 20))

In [29]:
train.head()

,med_level,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,copd,asthma,immunosup,hypertension,heart_problems,obese,renal_disease,smoker,covid_pos,icu,age_risk
941863,2,0,1,1.0,0.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,low
710943,1,0,1,1.0,0.0,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,low
351786,2,0,0,1.0,0.0,1.0,45.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,low
818265,2,1,1,1.0,0.0,0.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,low
571305,2,0,1,1.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,low

In [30]:
def create_pie_chart(df, column_name,title):
    values = df[column_name].value_counts()
    labels = values.index.tolist()
    sizes = values.tolist()
    plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=90)
    plt.axis('equal')
    plt.title(title)
    plt.show()

In [31]:
df.columns

Index(['med_level', 'gender', 'is_hospitalized', 'is_dead', 'ventilator',
       'pneumonia', 'age', 'pregnant', 'diabetes', 'copd', 'asthma',
       'immunosup', 'hypertension', 'heart_problems', 'obese', 'renal_disease',
       'smoker', 'covid_pos', 'icu', 'age_risk'],
      dtype='object')

In [70]:
# Define the column names of the risk-related columns
risk_columns = ['is_hospitalized', 'ventilator',
       'pneumonia', 'pregnant', 'diabetes', 'copd', 'asthma',
       'immunosup', 'hypertension', 'heart_problems', 'obese', 'renal_disease',
       'smoker', 'covid_pos', 'icu', 'age_risk']

# Calculate the sum of risk-related columns
df['risk_sum'] = df[risk_columns].sum(axis=1)

# Define the conditions for categorizing the risks
conditions = [
    (df['risk_sum'] <= 1),      # Low risk
    (df['risk_sum'] <= 3),      # Medium risk
    (df['risk_sum'] > 3)        # High risk
]

# Define the risk categories
risk_categories = ['Low', 'Medium', 'High']

# Create the new 'risk_category' column based on the conditions and categories
df['risk_category'] = np.select(conditions, risk_categories, default='Unknown')

In [71]:
df.head()

,med_level,gender,is_hospitalized,is_dead,ventilator,pneumonia,age,pregnant,diabetes,copd,...,hypertension,heart_problems,obese,renal_disease,smoker,covid_pos,icu,age_risk,risk_sum,risk_category
0,2,1,1,1.0,0.0,1.0,65.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,high,4.0,High
1,2,0,1,1.0,0.0,1.0,72.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,high,5.0,High
2,2,0,0,1.0,1.0,0.0,55.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,low,3.0,Medium
3,2,1,1,1.0,0.0,0.0,53.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,low,1.0,Low
4,2,0,1,1.0,0.0,0.0,68.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,high,4.0,High

In [74]:
df.risk_category.value_counts()

Medium    503732
Low       438362
High      106481
Name: risk_category, dtype: int64

In [75]:
df[df.risk_category=='Unknown']

Empty DataFrame
Columns: [med_level, gender, is_hospitalized, is_dead, ventilator, pneumonia, age, pregnant, diabetes, copd, asthma, immunosup, hypertension, heart_problems, obese, renal_disease, smoker, covid_pos, icu, age_risk, risk_sum, risk_category]
Index: []

[0 rows x 22 columns]

In [76]:
df.shape

(1048575, 22)